# Node modules (Next.js / React)
node_modules/
.next/
out/
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pyc
db.sqlite3
*.env
.env
media/
staticfiles/
local_settings.py

# Virtual environments
venv/
env/
*.egg-info/

# Redis and Celery
celerybeat-schedule
celerybeat.pid
*.pid
*.db
